/* You can add global styles to this file, and also import other style files */

// It's wise to import a prebuilt Material theme or custom theme at the root of
// your project when using `@proangular/ngx-gist`.

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Alternative pre-built themes.
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
*/

body {
  padding: 0;
  margin: 0;
  background-color: #faf9f6;
}

// Use this to apply a `highlight.js` theme globally
// @import "highlight.js/styles/github.css";
