// Remove this if this is already in your project.
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

pre {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;

  code {
    flex: 1;
    line-height: 1.5em;
    font-size: 14px;
    min-height: 100%;
    padding: 1em 1.2em;
  }
}

::ng-deep {
  mat-card.code-container {
    padding: 0;
    margin-bottom: 3em;

    mat-card-footer {
      height: 1rem;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding: 0.75rem;
      margin: 0;
      display: flex;
      flex-direction: row-reverse;

      a {
        font-size: 0.75rem;
        text-decoration: none;
        display: flex;
        align-items: center;

        > mat-icon {
          font-size: 1.5rem;
          position: relative;
          top: 0;
          padding-right: 0.25rem;
        }
      }
    }
  }

  pre > code.hljs-line-numbers {
    padding: 0 !important;
  }

  .hljs {
    margin: 0;
    padding: 10px;
    transition: border ease 1s;
  }

  .hljs-ln {
    padding: 8px 0;

    tr {
      &:first-child td {
        padding-top: 8px !important;
      }

      &:last-child td {
        padding-bottom: 8px !important;
      }
    }
  }

  td.hljs-ln-numbers {
    user-select: none;
    text-align: center;
    border-right: 1px solid gray;
    vertical-align: top;
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  td.hljs-ln-code {
    padding-left: 8px !important;
  }
}
